*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
}
header{
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 2;
}
header nav{
    display: block;
    width: 100%;
    height: 100%;
}
header ul{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 60px 60px;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
    display: flex;
    width: 60px;
    height: 60px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#logo{
    background-image: url('logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    margin: 0 0 0 5px;
    transition: 0.5s;
}
#menu{
}
#menu div, #menu div::before, #menu div::after{
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    border-top-right-radius: 1.5px;
    border-radius: 1.5px;
    background-color: #ddd;
    transition: 0.2s;
}
#menu div::before{
    transform: translateY(-9px);
}
#menu div::after{
    transform: translateY(6px);
}
#menu.click div{
    background-color: transparent;
}
#menu.click div::before{
    transform: rotate(-45deg);
    background-color: #757;
}
#menu.click div::after{
    transform: translateY(-3px) rotate(45deg);
    background-color: #757;
}
#menubox{
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 0%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    opacity: 0.8;
    transition: 0.5s;
}
#menubox.click{
    width: 40%;
}
main{
    display: block;
    width: 100%;
    height: 100%;
}
section{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #979;
}
#intro{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #535;
    background-image: url('back.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
#intro div{
    display: block;
    height: 100%;
    width: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#nike{
    transform: rotate(45deg);
    background-image: url('intro.svg');
}
#letter{
    display: block;
    background-image: url('letter.svg');
}
#produtos{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#produtos h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 7vw;
    color: #ddd;
}
.link{
    display: block;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
    background-color: rgba(0,0,0,0.4);
    color: #ddd;
    border-radius: 50px;
    margin: 20px 0;
}
#spacecards{
    display: grid;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 50%;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    grid-auto-rows: 1fr;
    gap: 20px;
    overflow: hidden;
}
.cards{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
}
@media screen and (max-width:650px){
    #logo.click{
        transform: translateX(-100%);
    }
    #menubox.click{
        width: 100%;
    }
    #intro #nike{
        width: 90%;
        transform: rotate(0);
        background-image: url('intromobile.svg');
    }
    #intro #letter{
        display: none;
    }
}